USE [master]
GO
CREATE DATABASE [bdgaraje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdgaraje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bdgaraje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdgaraje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\bdgaraje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdgaraje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdgaraje]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmodalidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblmodalidades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblpark](
	[idpark] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[placa] [int] NOT NULL,
	[tipov] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblpark] PRIMARY KEY CLUSTERED 
(
	[idpark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblmodalidades] ON 

INSERT [dbo].[tblmodalidades] ([id], [nombre]) VALUES (1, N'carro')
SET IDENTITY_INSERT [dbo].[tblmodalidades] OFF
SET IDENTITY_INSERT [dbo].[tblpark] ON 

INSERT [dbo].[tblpark] ([idpark], [nombre], [placa], [tipov]) VALUES (5, N'carlos munera la vergara', 1236454, N'carro')
INSERT [dbo].[tblpark] ([idpark], [nombre], [placa], [tipov]) VALUES (6, N'emilio torres', 45244, N'mot')
SET IDENTITY_INSERT [dbo].[tblpark] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spConsulta]
as 
select * from dbo.tblpark

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spEliminar]
@idpark int
as
delete from dbo.tblpark where
@idpark = @idpark

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spGuardarCambios]
@idpark int, 
@nombre varchar(50),
@placa int,
@tipov varchar (50)
as
update dbo.tblpark set 
nombre = @nombre,placa=@placa,tipov=@tipov where 
idpark = @idpark

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spNuevovehiculo]
@Nombre varchar(50),@placa int,@tipov varchar(50)
as
insert into dbo.tblpark(nombre,placa,tipov)
values(@Nombre,@placa,@tipov)

GO
USE [master]
GO
